{
  "openapi": "3.1.0",
  "info": {
    "title": "VyomFlow API",
    "version": "1.0.0",
    "description": "The versioned public REST surface (`/api/public/v1/*`, bearer API-key auth) plus the app's own internal `/api/v1/*` surface (Clerk session-token auth), generated directly from the same Zod contracts the Route Handlers validate against — never a hand-maintained duplicate. The MCP endpoint (`/api/mcp`) is a separate streamable-HTTP JSON-RPC transport, not expressible here — see the MCP guide."
  },
  "servers": [
    {
      "url": "https://api.vyomflow.co.in",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local development"
    }
  ],
  "components": {
    "securitySchemes": {
      "ClerkBearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Clerk session token, `Authorization: Bearer <token>` — the first-party browser app's own auth. Used only by this internal `/api/v1/*` surface, never by `/api/public/v1/*`."
      },
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Clerk-native API key, `Authorization: Bearer <key>`. Minted at https://www.vyomflow.co.in/settings/api-keys, scoped per operation. 401 = missing/invalid/revoked key; 403 = valid key missing the required scope."
      }
    },
    "schemas": {
      "ApiError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "details": {}
            },
            "required": [
              "code",
              "message"
            ]
          }
        },
        "required": [
          "error"
        ]
      },
      "Chat": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "pinnedAt": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "activeRunId": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "title",
          "pinnedAt",
          "createdAt",
          "updatedAt"
        ]
      },
      "ListChatsResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "pinnedAt": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "createdAt": {
                  "type": "string"
                },
                "updatedAt": {
                  "type": "string"
                },
                "activeRunId": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "id",
                "title",
                "pinnedAt",
                "createdAt",
                "updatedAt"
              ]
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "items",
          "nextCursor"
        ]
      },
      "Message": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "chatId": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "user",
              "assistant",
              "system",
              "tool"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "streaming",
              "complete",
              "failed",
              "cancelled"
            ]
          },
          "content": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "text"
                      ]
                    },
                    "text": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "text"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "thinking"
                      ]
                    },
                    "text": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "text"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "tool_use"
                      ]
                    },
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "input": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "type",
                    "id",
                    "name",
                    "input"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "tool_result"
                      ]
                    },
                    "toolUseId": {
                      "type": "string"
                    },
                    "output": {},
                    "isError": {
                      "type": "boolean"
                    },
                    "toolInvocationId": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "DISPATCHING",
                        "QUEUED",
                        "RUNNING",
                        "COMPLETED",
                        "FAILED",
                        "CANCELLED"
                      ]
                    },
                    "durationMs": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "creditUsed": {
                      "type": "number",
                      "minimum": 0
                    },
                    "resultUrls": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uri"
                      }
                    },
                    "errorMessage": {
                      "type": "string"
                    },
                    "errorCode": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "toolUseId"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "reasoning"
                      ]
                    },
                    "text": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "text"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "citation"
                      ]
                    },
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "title": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "url"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "usage"
                      ]
                    },
                    "promptTokens": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "completionTokens": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "model": {
                      "type": "string"
                    },
                    "costCredits": {
                      "type": "number",
                      "minimum": 0
                    }
                  },
                  "required": [
                    "type",
                    "promptTokens",
                    "completionTokens"
                  ]
                }
              ]
            }
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "chatId": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "messageId": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "orderIndex": {
                  "type": "integer",
                  "minimum": 0
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "PENDING",
                    "READY",
                    "FAILED",
                    "CANCELLED"
                  ]
                },
                "mimeType": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "byteSize": {
                  "type": [
                    "integer",
                    "null"
                  ],
                  "minimum": 0
                },
                "fileName": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "resultUrl": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "format": "uri"
                },
                "errorCode": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "errorMessage": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "createdAt": {
                  "type": "string"
                },
                "updatedAt": {
                  "type": "string"
                },
                "source": {
                  "type": "string",
                  "enum": [
                    "uploaded",
                    "generated"
                  ]
                }
              },
              "required": [
                "id",
                "chatId",
                "messageId",
                "orderIndex",
                "status",
                "mimeType",
                "byteSize",
                "fileName",
                "resultUrl",
                "errorCode",
                "errorMessage",
                "createdAt",
                "updatedAt",
                "source"
              ]
            }
          },
          "createdAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "chatId",
          "role",
          "status",
          "content",
          "attachments",
          "createdAt"
        ]
      },
      "ListMessagesResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "chatId": {
                  "type": "string"
                },
                "role": {
                  "type": "string",
                  "enum": [
                    "user",
                    "assistant",
                    "system",
                    "tool"
                  ]
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "streaming",
                    "complete",
                    "failed",
                    "cancelled"
                  ]
                },
                "content": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "text"
                            ]
                          },
                          "text": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "text"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "thinking"
                            ]
                          },
                          "text": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "text"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "tool_use"
                            ]
                          },
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "input": {
                            "type": "object",
                            "additionalProperties": {}
                          }
                        },
                        "required": [
                          "type",
                          "id",
                          "name",
                          "input"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "tool_result"
                            ]
                          },
                          "toolUseId": {
                            "type": "string"
                          },
                          "output": {},
                          "isError": {
                            "type": "boolean"
                          },
                          "toolInvocationId": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "DISPATCHING",
                              "QUEUED",
                              "RUNNING",
                              "COMPLETED",
                              "FAILED",
                              "CANCELLED"
                            ]
                          },
                          "durationMs": {
                            "type": "integer",
                            "minimum": 0
                          },
                          "creditUsed": {
                            "type": "number",
                            "minimum": 0
                          },
                          "resultUrls": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "format": "uri"
                            }
                          },
                          "errorMessage": {
                            "type": "string"
                          },
                          "errorCode": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "toolUseId"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "reasoning"
                            ]
                          },
                          "text": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "text"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "citation"
                            ]
                          },
                          "url": {
                            "type": "string",
                            "format": "uri"
                          },
                          "title": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "url"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "usage"
                            ]
                          },
                          "promptTokens": {
                            "type": "integer",
                            "minimum": 0
                          },
                          "completionTokens": {
                            "type": "integer",
                            "minimum": 0
                          },
                          "model": {
                            "type": "string"
                          },
                          "costCredits": {
                            "type": "number",
                            "minimum": 0
                          }
                        },
                        "required": [
                          "type",
                          "promptTokens",
                          "completionTokens"
                        ]
                      }
                    ]
                  }
                },
                "attachments": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "chatId": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "messageId": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "orderIndex": {
                        "type": "integer",
                        "minimum": 0
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "PENDING",
                          "READY",
                          "FAILED",
                          "CANCELLED"
                        ]
                      },
                      "mimeType": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "byteSize": {
                        "type": [
                          "integer",
                          "null"
                        ],
                        "minimum": 0
                      },
                      "fileName": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "resultUrl": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "format": "uri"
                      },
                      "errorCode": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "errorMessage": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "createdAt": {
                        "type": "string"
                      },
                      "updatedAt": {
                        "type": "string"
                      },
                      "source": {
                        "type": "string",
                        "enum": [
                          "uploaded",
                          "generated"
                        ]
                      }
                    },
                    "required": [
                      "id",
                      "chatId",
                      "messageId",
                      "orderIndex",
                      "status",
                      "mimeType",
                      "byteSize",
                      "fileName",
                      "resultUrl",
                      "errorCode",
                      "errorMessage",
                      "createdAt",
                      "updatedAt",
                      "source"
                    ]
                  }
                },
                "createdAt": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "chatId",
                "role",
                "status",
                "content",
                "attachments",
                "createdAt"
              ]
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "items",
          "nextCursor"
        ]
      },
      "SendTurnResponse": {
        "type": "object",
        "properties": {
          "chatId": {
            "type": "string"
          },
          "message": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "chatId": {
                "type": "string"
              },
              "role": {
                "type": "string",
                "enum": [
                  "user",
                  "assistant",
                  "system",
                  "tool"
                ]
              },
              "status": {
                "type": "string",
                "enum": [
                  "streaming",
                  "complete",
                  "failed",
                  "cancelled"
                ]
              },
              "content": {
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "text"
                          ]
                        },
                        "text": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "type",
                        "text"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "thinking"
                          ]
                        },
                        "text": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "type",
                        "text"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "tool_use"
                          ]
                        },
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "input": {
                          "type": "object",
                          "additionalProperties": {}
                        }
                      },
                      "required": [
                        "type",
                        "id",
                        "name",
                        "input"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "tool_result"
                          ]
                        },
                        "toolUseId": {
                          "type": "string"
                        },
                        "output": {},
                        "isError": {
                          "type": "boolean"
                        },
                        "toolInvocationId": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "DISPATCHING",
                            "QUEUED",
                            "RUNNING",
                            "COMPLETED",
                            "FAILED",
                            "CANCELLED"
                          ]
                        },
                        "durationMs": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "creditUsed": {
                          "type": "number",
                          "minimum": 0
                        },
                        "resultUrls": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "uri"
                          }
                        },
                        "errorMessage": {
                          "type": "string"
                        },
                        "errorCode": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "type",
                        "toolUseId"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "reasoning"
                          ]
                        },
                        "text": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "type",
                        "text"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "citation"
                          ]
                        },
                        "url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "title": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "type",
                        "url"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "usage"
                          ]
                        },
                        "promptTokens": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "completionTokens": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "model": {
                          "type": "string"
                        },
                        "costCredits": {
                          "type": "number",
                          "minimum": 0
                        }
                      },
                      "required": [
                        "type",
                        "promptTokens",
                        "completionTokens"
                      ]
                    }
                  ]
                }
              },
              "attachments": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "chatId": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "messageId": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "orderIndex": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "PENDING",
                        "READY",
                        "FAILED",
                        "CANCELLED"
                      ]
                    },
                    "mimeType": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "byteSize": {
                      "type": [
                        "integer",
                        "null"
                      ],
                      "minimum": 0
                    },
                    "fileName": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "resultUrl": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "uri"
                    },
                    "errorCode": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "errorMessage": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    },
                    "source": {
                      "type": "string",
                      "enum": [
                        "uploaded",
                        "generated"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "chatId",
                    "messageId",
                    "orderIndex",
                    "status",
                    "mimeType",
                    "byteSize",
                    "fileName",
                    "resultUrl",
                    "errorCode",
                    "errorMessage",
                    "createdAt",
                    "updatedAt",
                    "source"
                  ]
                }
              },
              "createdAt": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "chatId",
              "role",
              "status",
              "content",
              "attachments",
              "createdAt"
            ]
          },
          "run": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "chatId": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "enum": [
                  "queued",
                  "running",
                  "waiting",
                  "completed",
                  "failed",
                  "cancelled"
                ]
              },
              "userMessageId": {
                "type": "string"
              },
              "assistantMessageId": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "lastStreamIndex": {
                "type": "integer"
              },
              "cancelRequestedAt": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "requestedModel": {
                "type": "string"
              },
              "resolvedModel": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "errorCode": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "errorMessage": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "createdAt": {
                "type": "string"
              },
              "updatedAt": {
                "type": "string"
              },
              "startedAt": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "finishedAt": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "toolInvocations": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "agentRunId": {
                      "type": "string"
                    },
                    "turnIndex": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "callIndex": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "toolCallId": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "nodeType": {
                      "type": "string"
                    },
                    "input": {
                      "type": "object",
                      "additionalProperties": {}
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "DISPATCHING",
                        "QUEUED",
                        "RUNNING",
                        "COMPLETED",
                        "FAILED",
                        "CANCELLED"
                      ]
                    },
                    "creditEstimate": {
                      "type": [
                        "number",
                        "null"
                      ],
                      "minimum": 0
                    },
                    "creditUsed": {
                      "type": [
                        "number",
                        "null"
                      ],
                      "minimum": 0
                    },
                    "resultUrls": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": "string",
                        "format": "uri"
                      }
                    },
                    "errorCode": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "errorMessage": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "startedAt": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "finishedAt": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "durationMs": {
                      "type": [
                        "integer",
                        "null"
                      ],
                      "minimum": 0
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "agentRunId",
                    "turnIndex",
                    "callIndex",
                    "toolCallId",
                    "name",
                    "nodeType",
                    "input",
                    "status",
                    "creditEstimate",
                    "creditUsed",
                    "resultUrls",
                    "errorCode",
                    "errorMessage",
                    "startedAt",
                    "finishedAt",
                    "durationMs",
                    "createdAt",
                    "updatedAt"
                  ]
                }
              },
              "totalCreditsUsed": {
                "type": "number",
                "minimum": 0
              },
              "pendingWaitpoint": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "agentRunId": {
                        "type": "string"
                      },
                      "kind": {
                        "type": "string",
                        "enum": [
                          "CREDIT_APPROVAL"
                        ]
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "PENDING",
                          "COMPLETED",
                          "EXPIRED"
                        ]
                      },
                      "requestPayload": {
                        "type": "object",
                        "properties": {
                          "toolName": {
                            "type": "string"
                          },
                          "estimatedCredits": {
                            "type": "number",
                            "minimum": 0
                          },
                          "threshold": {
                            "type": "number",
                            "minimum": 0
                          }
                        },
                        "required": [
                          "toolName",
                          "estimatedCredits",
                          "threshold"
                        ]
                      },
                      "resolvedPayload": {
                        "type": [
                          "object",
                          "null"
                        ],
                        "properties": {
                          "approved": {
                            "type": "boolean"
                          },
                          "respondedAt": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "approved",
                          "respondedAt"
                        ]
                      },
                      "expiresAt": {
                        "type": "string"
                      },
                      "resolvedAt": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "required": [
                      "id",
                      "agentRunId",
                      "kind",
                      "status",
                      "requestPayload",
                      "resolvedPayload",
                      "expiresAt",
                      "resolvedAt"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "agentRunId": {
                        "type": "string"
                      },
                      "kind": {
                        "type": "string",
                        "enum": [
                          "CLARIFICATION"
                        ]
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "PENDING",
                          "COMPLETED",
                          "EXPIRED"
                        ]
                      },
                      "requestPayload": {
                        "type": "object",
                        "properties": {
                          "question": {
                            "type": "string"
                          },
                          "options": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "required": [
                          "question"
                        ]
                      },
                      "resolvedPayload": {
                        "type": [
                          "object",
                          "null"
                        ],
                        "properties": {
                          "answer": {
                            "type": "string"
                          },
                          "respondedAt": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "answer",
                          "respondedAt"
                        ]
                      },
                      "expiresAt": {
                        "type": "string"
                      },
                      "resolvedAt": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "required": [
                      "id",
                      "agentRunId",
                      "kind",
                      "status",
                      "requestPayload",
                      "resolvedPayload",
                      "expiresAt",
                      "resolvedAt"
                    ]
                  },
                  {
                    "type": "null"
                  }
                ]
              }
            },
            "required": [
              "id",
              "chatId",
              "status",
              "userMessageId",
              "assistantMessageId",
              "lastStreamIndex",
              "cancelRequestedAt",
              "requestedModel",
              "resolvedModel",
              "errorCode",
              "errorMessage",
              "createdAt",
              "updatedAt",
              "startedAt",
              "finishedAt",
              "toolInvocations",
              "totalCreditsUsed",
              "pendingWaitpoint"
            ]
          },
          "realtime": {
            "type": "object",
            "properties": {
              "runId": {
                "type": "string"
              },
              "streamKey": {
                "type": "string"
              },
              "accessToken": {
                "type": "string"
              },
              "expiresAt": {
                "type": "string"
              }
            },
            "required": [
              "runId",
              "streamKey",
              "accessToken",
              "expiresAt"
            ]
          }
        },
        "required": [
          "chatId",
          "message",
          "run",
          "realtime"
        ]
      },
      "AgentRun": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "chatId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "running",
              "waiting",
              "completed",
              "failed",
              "cancelled"
            ]
          },
          "userMessageId": {
            "type": "string"
          },
          "assistantMessageId": {
            "type": [
              "string",
              "null"
            ]
          },
          "lastStreamIndex": {
            "type": "integer"
          },
          "cancelRequestedAt": {
            "type": [
              "string",
              "null"
            ]
          },
          "requestedModel": {
            "type": "string"
          },
          "resolvedModel": {
            "type": [
              "string",
              "null"
            ]
          },
          "errorCode": {
            "type": [
              "string",
              "null"
            ]
          },
          "errorMessage": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "startedAt": {
            "type": [
              "string",
              "null"
            ]
          },
          "finishedAt": {
            "type": [
              "string",
              "null"
            ]
          },
          "toolInvocations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "agentRunId": {
                  "type": "string"
                },
                "turnIndex": {
                  "type": "integer",
                  "minimum": 0
                },
                "callIndex": {
                  "type": "integer",
                  "minimum": 0
                },
                "toolCallId": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "nodeType": {
                  "type": "string"
                },
                "input": {
                  "type": "object",
                  "additionalProperties": {}
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "DISPATCHING",
                    "QUEUED",
                    "RUNNING",
                    "COMPLETED",
                    "FAILED",
                    "CANCELLED"
                  ]
                },
                "creditEstimate": {
                  "type": [
                    "number",
                    "null"
                  ],
                  "minimum": 0
                },
                "creditUsed": {
                  "type": [
                    "number",
                    "null"
                  ],
                  "minimum": 0
                },
                "resultUrls": {
                  "type": [
                    "array",
                    "null"
                  ],
                  "items": {
                    "type": "string",
                    "format": "uri"
                  }
                },
                "errorCode": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "errorMessage": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "startedAt": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "finishedAt": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "durationMs": {
                  "type": [
                    "integer",
                    "null"
                  ],
                  "minimum": 0
                },
                "createdAt": {
                  "type": "string"
                },
                "updatedAt": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "agentRunId",
                "turnIndex",
                "callIndex",
                "toolCallId",
                "name",
                "nodeType",
                "input",
                "status",
                "creditEstimate",
                "creditUsed",
                "resultUrls",
                "errorCode",
                "errorMessage",
                "startedAt",
                "finishedAt",
                "durationMs",
                "createdAt",
                "updatedAt"
              ]
            }
          },
          "totalCreditsUsed": {
            "type": "number",
            "minimum": 0
          },
          "pendingWaitpoint": {
            "oneOf": [
              {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "agentRunId": {
                    "type": "string"
                  },
                  "kind": {
                    "type": "string",
                    "enum": [
                      "CREDIT_APPROVAL"
                    ]
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "PENDING",
                      "COMPLETED",
                      "EXPIRED"
                    ]
                  },
                  "requestPayload": {
                    "type": "object",
                    "properties": {
                      "toolName": {
                        "type": "string"
                      },
                      "estimatedCredits": {
                        "type": "number",
                        "minimum": 0
                      },
                      "threshold": {
                        "type": "number",
                        "minimum": 0
                      }
                    },
                    "required": [
                      "toolName",
                      "estimatedCredits",
                      "threshold"
                    ]
                  },
                  "resolvedPayload": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "properties": {
                      "approved": {
                        "type": "boolean"
                      },
                      "respondedAt": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "approved",
                      "respondedAt"
                    ]
                  },
                  "expiresAt": {
                    "type": "string"
                  },
                  "resolvedAt": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                },
                "required": [
                  "id",
                  "agentRunId",
                  "kind",
                  "status",
                  "requestPayload",
                  "resolvedPayload",
                  "expiresAt",
                  "resolvedAt"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "agentRunId": {
                    "type": "string"
                  },
                  "kind": {
                    "type": "string",
                    "enum": [
                      "CLARIFICATION"
                    ]
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "PENDING",
                      "COMPLETED",
                      "EXPIRED"
                    ]
                  },
                  "requestPayload": {
                    "type": "object",
                    "properties": {
                      "question": {
                        "type": "string"
                      },
                      "options": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "question"
                    ]
                  },
                  "resolvedPayload": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "properties": {
                      "answer": {
                        "type": "string"
                      },
                      "respondedAt": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "answer",
                      "respondedAt"
                    ]
                  },
                  "expiresAt": {
                    "type": "string"
                  },
                  "resolvedAt": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                },
                "required": [
                  "id",
                  "agentRunId",
                  "kind",
                  "status",
                  "requestPayload",
                  "resolvedPayload",
                  "expiresAt",
                  "resolvedAt"
                ]
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "id",
          "chatId",
          "status",
          "userMessageId",
          "assistantMessageId",
          "lastStreamIndex",
          "cancelRequestedAt",
          "requestedModel",
          "resolvedModel",
          "errorCode",
          "errorMessage",
          "createdAt",
          "updatedAt",
          "startedAt",
          "finishedAt",
          "toolInvocations",
          "totalCreditsUsed",
          "pendingWaitpoint"
        ]
      },
      "RealtimeAccess": {
        "type": "object",
        "properties": {
          "runId": {
            "type": "string"
          },
          "streamKey": {
            "type": "string"
          },
          "accessToken": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string"
          }
        },
        "required": [
          "runId",
          "streamKey",
          "accessToken",
          "expiresAt"
        ]
      },
      "Waitpoint": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "agentRunId": {
                "type": "string"
              },
              "kind": {
                "type": "string",
                "enum": [
                  "CREDIT_APPROVAL"
                ]
              },
              "status": {
                "type": "string",
                "enum": [
                  "PENDING",
                  "COMPLETED",
                  "EXPIRED"
                ]
              },
              "requestPayload": {
                "type": "object",
                "properties": {
                  "toolName": {
                    "type": "string"
                  },
                  "estimatedCredits": {
                    "type": "number",
                    "minimum": 0
                  },
                  "threshold": {
                    "type": "number",
                    "minimum": 0
                  }
                },
                "required": [
                  "toolName",
                  "estimatedCredits",
                  "threshold"
                ]
              },
              "resolvedPayload": {
                "type": [
                  "object",
                  "null"
                ],
                "properties": {
                  "approved": {
                    "type": "boolean"
                  },
                  "respondedAt": {
                    "type": "string"
                  }
                },
                "required": [
                  "approved",
                  "respondedAt"
                ]
              },
              "expiresAt": {
                "type": "string"
              },
              "resolvedAt": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "id",
              "agentRunId",
              "kind",
              "status",
              "requestPayload",
              "resolvedPayload",
              "expiresAt",
              "resolvedAt"
            ]
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "agentRunId": {
                "type": "string"
              },
              "kind": {
                "type": "string",
                "enum": [
                  "CLARIFICATION"
                ]
              },
              "status": {
                "type": "string",
                "enum": [
                  "PENDING",
                  "COMPLETED",
                  "EXPIRED"
                ]
              },
              "requestPayload": {
                "type": "object",
                "properties": {
                  "question": {
                    "type": "string"
                  },
                  "options": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "question"
                ]
              },
              "resolvedPayload": {
                "type": [
                  "object",
                  "null"
                ],
                "properties": {
                  "answer": {
                    "type": "string"
                  },
                  "respondedAt": {
                    "type": "string"
                  }
                },
                "required": [
                  "answer",
                  "respondedAt"
                ]
              },
              "expiresAt": {
                "type": "string"
              },
              "resolvedAt": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "id",
              "agentRunId",
              "kind",
              "status",
              "requestPayload",
              "resolvedPayload",
              "expiresAt",
              "resolvedAt"
            ]
          }
        ]
      },
      "CreditBalance": {
        "type": "object",
        "properties": {
          "balance": {
            "type": "string"
          },
          "held": {
            "type": "string"
          },
          "available": {
            "type": "string"
          }
        },
        "required": [
          "balance",
          "held",
          "available"
        ]
      },
      "ListCreditLedgerResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "kind": {
                  "type": "string",
                  "enum": [
                    "RESERVE",
                    "CAPTURE",
                    "RELEASE",
                    "USAGE"
                  ]
                },
                "amount": {
                  "type": "string"
                },
                "createdAt": {
                  "type": "string"
                },
                "runId": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "toolInvocationId": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "id",
                "kind",
                "amount",
                "createdAt",
                "runId",
                "toolInvocationId"
              ]
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "items",
          "nextCursor"
        ]
      },
      "CreditUsageSummary": {
        "type": "object",
        "properties": {
          "groups": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "toolKey": {
                  "type": "string"
                },
                "displayName": {
                  "type": "string"
                },
                "totalDebited": {
                  "type": "string"
                },
                "records": {
                  "type": "integer",
                  "minimum": 0
                },
                "latestUsageAt": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "toolKey",
                "displayName",
                "totalDebited",
                "records",
                "latestUsageAt"
              ]
            }
          },
          "totalDebitedAll": {
            "type": "string"
          },
          "recordsAll": {
            "type": "integer",
            "minimum": 0
          },
          "categoriesCount": {
            "type": "integer",
            "minimum": 0
          },
          "periodStart": {
            "type": [
              "string",
              "null"
            ]
          },
          "periodEnd": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "groups",
          "totalDebitedAll",
          "recordsAll",
          "categoriesCount",
          "periodStart",
          "periodEnd"
        ]
      },
      "ListCreditUsageEntriesResponse": {
        "type": "object",
        "properties": {
          "entries": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "runId": {
                  "type": "string"
                },
                "amount": {
                  "type": "string"
                },
                "timestamp": {
                  "type": "string"
                }
              },
              "required": [
                "runId",
                "amount",
                "timestamp"
              ]
            }
          }
        },
        "required": [
          "entries"
        ]
      },
      "CreditRunSteps": {
        "type": "object",
        "properties": {
          "chatId": {
            "type": [
              "string",
              "null"
            ]
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "kind": {
                  "type": "string",
                  "enum": [
                    "RESERVE",
                    "CAPTURE",
                    "RELEASE",
                    "USAGE"
                  ]
                },
                "amount": {
                  "type": "string"
                },
                "createdAt": {
                  "type": "string"
                },
                "runId": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "toolInvocationId": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "toolName": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "id",
                "kind",
                "amount",
                "createdAt",
                "runId",
                "toolInvocationId",
                "toolName"
              ]
            }
          }
        },
        "required": [
          "chatId",
          "items"
        ]
      },
      "Attachment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "chatId": {
            "type": [
              "string",
              "null"
            ]
          },
          "messageId": {
            "type": [
              "string",
              "null"
            ]
          },
          "orderIndex": {
            "type": "integer",
            "minimum": 0
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "READY",
              "FAILED",
              "CANCELLED"
            ]
          },
          "mimeType": {
            "type": [
              "string",
              "null"
            ]
          },
          "byteSize": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "fileName": {
            "type": [
              "string",
              "null"
            ]
          },
          "resultUrl": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "errorCode": {
            "type": [
              "string",
              "null"
            ]
          },
          "errorMessage": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "source": {
            "type": "string",
            "enum": [
              "uploaded",
              "generated"
            ]
          }
        },
        "required": [
          "id",
          "chatId",
          "messageId",
          "orderIndex",
          "status",
          "mimeType",
          "byteSize",
          "fileName",
          "resultUrl",
          "errorCode",
          "errorMessage",
          "createdAt",
          "updatedAt",
          "source"
        ]
      },
      "ListAttachmentsResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "chatId": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "messageId": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "orderIndex": {
                  "type": "integer",
                  "minimum": 0
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "PENDING",
                    "READY",
                    "FAILED",
                    "CANCELLED"
                  ]
                },
                "mimeType": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "byteSize": {
                  "type": [
                    "integer",
                    "null"
                  ],
                  "minimum": 0
                },
                "fileName": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "resultUrl": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "format": "uri"
                },
                "errorCode": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "errorMessage": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "createdAt": {
                  "type": "string"
                },
                "updatedAt": {
                  "type": "string"
                },
                "source": {
                  "type": "string",
                  "enum": [
                    "uploaded",
                    "generated"
                  ]
                }
              },
              "required": [
                "id",
                "chatId",
                "messageId",
                "orderIndex",
                "status",
                "mimeType",
                "byteSize",
                "fileName",
                "resultUrl",
                "errorCode",
                "errorMessage",
                "createdAt",
                "updatedAt",
                "source"
              ]
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "items",
          "nextCursor"
        ]
      },
      "RequestUploadParamsResponse": {
        "type": "object",
        "properties": {
          "uploads": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "attachmentId": {
                  "type": "string"
                },
                "params": {
                  "type": "string"
                },
                "signature": {
                  "type": "string"
                }
              },
              "required": [
                "attachmentId",
                "params",
                "signature"
              ]
            }
          }
        },
        "required": [
          "uploads"
        ]
      },
      "ToolInvocation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "agentRunId": {
            "type": "string"
          },
          "turnIndex": {
            "type": "integer",
            "minimum": 0
          },
          "callIndex": {
            "type": "integer",
            "minimum": 0
          },
          "toolCallId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "nodeType": {
            "type": "string"
          },
          "input": {
            "type": "object",
            "additionalProperties": {}
          },
          "status": {
            "type": "string",
            "enum": [
              "DISPATCHING",
              "QUEUED",
              "RUNNING",
              "COMPLETED",
              "FAILED",
              "CANCELLED"
            ]
          },
          "creditEstimate": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0
          },
          "creditUsed": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0
          },
          "resultUrls": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "errorCode": {
            "type": [
              "string",
              "null"
            ]
          },
          "errorMessage": {
            "type": [
              "string",
              "null"
            ]
          },
          "startedAt": {
            "type": [
              "string",
              "null"
            ]
          },
          "finishedAt": {
            "type": [
              "string",
              "null"
            ]
          },
          "durationMs": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "agentRunId",
          "turnIndex",
          "callIndex",
          "toolCallId",
          "name",
          "nodeType",
          "input",
          "status",
          "creditEstimate",
          "creditUsed",
          "resultUrls",
          "errorCode",
          "errorMessage",
          "startedAt",
          "finishedAt",
          "durationMs",
          "createdAt",
          "updatedAt"
        ]
      },
      "WebhookEndpoint": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "secret": {
            "type": "string"
          },
          "secondarySecret": {
            "type": [
              "string",
              "null"
            ]
          },
          "enabled": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "url",
          "secret",
          "secondarySecret",
          "enabled",
          "createdAt",
          "updatedAt"
        ]
      },
      "ApiKeyResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "secret": {
            "type": "string",
            "description": "The raw key value. Shown exactly once, on creation."
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "expiresAt": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "name",
          "secret",
          "scopes",
          "expiresAt"
        ]
      },
      "PublicSendTurnResponse": {
        "type": "object",
        "properties": {
          "chatId": {
            "type": "string"
          },
          "message": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "chatId": {
                "type": "string"
              },
              "role": {
                "type": "string",
                "enum": [
                  "user",
                  "assistant",
                  "system",
                  "tool"
                ]
              },
              "status": {
                "type": "string",
                "enum": [
                  "streaming",
                  "complete",
                  "failed",
                  "cancelled"
                ]
              },
              "content": {
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "text"
                          ]
                        },
                        "text": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "type",
                        "text"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "thinking"
                          ]
                        },
                        "text": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "type",
                        "text"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "tool_use"
                          ]
                        },
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "input": {
                          "type": "object",
                          "additionalProperties": {}
                        }
                      },
                      "required": [
                        "type",
                        "id",
                        "name",
                        "input"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "tool_result"
                          ]
                        },
                        "toolUseId": {
                          "type": "string"
                        },
                        "output": {},
                        "isError": {
                          "type": "boolean"
                        },
                        "toolInvocationId": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "DISPATCHING",
                            "QUEUED",
                            "RUNNING",
                            "COMPLETED",
                            "FAILED",
                            "CANCELLED"
                          ]
                        },
                        "durationMs": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "creditUsed": {
                          "type": "number",
                          "minimum": 0
                        },
                        "resultUrls": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "uri"
                          }
                        },
                        "errorMessage": {
                          "type": "string"
                        },
                        "errorCode": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "type",
                        "toolUseId"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "reasoning"
                          ]
                        },
                        "text": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "type",
                        "text"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "citation"
                          ]
                        },
                        "url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "title": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "type",
                        "url"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "usage"
                          ]
                        },
                        "promptTokens": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "completionTokens": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "model": {
                          "type": "string"
                        },
                        "costCredits": {
                          "type": "number",
                          "minimum": 0
                        }
                      },
                      "required": [
                        "type",
                        "promptTokens",
                        "completionTokens"
                      ]
                    }
                  ]
                }
              },
              "attachments": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "chatId": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "messageId": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "orderIndex": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "PENDING",
                        "READY",
                        "FAILED",
                        "CANCELLED"
                      ]
                    },
                    "mimeType": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "byteSize": {
                      "type": [
                        "integer",
                        "null"
                      ],
                      "minimum": 0
                    },
                    "fileName": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "resultUrl": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "uri"
                    },
                    "errorCode": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "errorMessage": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    },
                    "source": {
                      "type": "string",
                      "enum": [
                        "uploaded",
                        "generated"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "chatId",
                    "messageId",
                    "orderIndex",
                    "status",
                    "mimeType",
                    "byteSize",
                    "fileName",
                    "resultUrl",
                    "errorCode",
                    "errorMessage",
                    "createdAt",
                    "updatedAt",
                    "source"
                  ]
                }
              },
              "createdAt": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "chatId",
              "role",
              "status",
              "content",
              "attachments",
              "createdAt"
            ]
          },
          "run": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "chatId": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "enum": [
                  "queued",
                  "running",
                  "waiting",
                  "completed",
                  "failed",
                  "cancelled"
                ]
              },
              "userMessageId": {
                "type": "string"
              },
              "assistantMessageId": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "lastStreamIndex": {
                "type": "integer"
              },
              "cancelRequestedAt": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "requestedModel": {
                "type": "string"
              },
              "resolvedModel": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "errorCode": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "errorMessage": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "createdAt": {
                "type": "string"
              },
              "updatedAt": {
                "type": "string"
              },
              "startedAt": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "finishedAt": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "toolInvocations": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "agentRunId": {
                      "type": "string"
                    },
                    "turnIndex": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "callIndex": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "toolCallId": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "nodeType": {
                      "type": "string"
                    },
                    "input": {
                      "type": "object",
                      "additionalProperties": {}
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "DISPATCHING",
                        "QUEUED",
                        "RUNNING",
                        "COMPLETED",
                        "FAILED",
                        "CANCELLED"
                      ]
                    },
                    "creditEstimate": {
                      "type": [
                        "number",
                        "null"
                      ],
                      "minimum": 0
                    },
                    "creditUsed": {
                      "type": [
                        "number",
                        "null"
                      ],
                      "minimum": 0
                    },
                    "resultUrls": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": "string",
                        "format": "uri"
                      }
                    },
                    "errorCode": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "errorMessage": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "startedAt": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "finishedAt": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "durationMs": {
                      "type": [
                        "integer",
                        "null"
                      ],
                      "minimum": 0
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "agentRunId",
                    "turnIndex",
                    "callIndex",
                    "toolCallId",
                    "name",
                    "nodeType",
                    "input",
                    "status",
                    "creditEstimate",
                    "creditUsed",
                    "resultUrls",
                    "errorCode",
                    "errorMessage",
                    "startedAt",
                    "finishedAt",
                    "durationMs",
                    "createdAt",
                    "updatedAt"
                  ]
                }
              },
              "totalCreditsUsed": {
                "type": "number",
                "minimum": 0
              },
              "pendingWaitpoint": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "agentRunId": {
                        "type": "string"
                      },
                      "kind": {
                        "type": "string",
                        "enum": [
                          "CREDIT_APPROVAL"
                        ]
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "PENDING",
                          "COMPLETED",
                          "EXPIRED"
                        ]
                      },
                      "requestPayload": {
                        "type": "object",
                        "properties": {
                          "toolName": {
                            "type": "string"
                          },
                          "estimatedCredits": {
                            "type": "number",
                            "minimum": 0
                          },
                          "threshold": {
                            "type": "number",
                            "minimum": 0
                          }
                        },
[...]
